footer {
  background-color: white;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: start;
  justify-content: space-between;
  padding: 4rem 1rem;
  margin-top: 4rem;

  h4 {
    font-weight: 900;
    font-size: var(--step--1);
  }

  a {
    font-size: var(--step--1);
  }
}

.foot-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h3 {
    font-size: var(--step-2);
  }
}

.foot-col {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 150px;
  h4 {
    padding-bottom: 5px;
  }
  a:hover {
    text-decoration: underline;
  }
}

.foot-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  footer {
    flex-wrap: wrap;
  }
  .foot-main {
    width: 100%;
    margin-bottom: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .foot-row {
    align-items: center;
    justify-content: center;
  }
}
