.get-propped {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
}

.get-propped-inner {
  display: flex;
  flex-direction: row;
  z-index: 10;
  margin-top: -160px;
  padding: 1rem;
}

.info-box {
  background-color: white;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 40px;
  border: var(--border);

  h1 {
    font-size: var(--step-5);
  }

  ul {
    margin: 1rem 0px;
  }
}

.get-propped-stars {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  svg {
    font-size: 2.3rem;
  }
}

.button-box {
  display: flex;
  width: 100%;
  margin-bottom: -20px;
  padding-right: 19px;
  align-items: end;
  justify-content: end;
}

.inner-info-box {
  padding: 4rem 6rem 1rem 4rem;
}
