.journal-main {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/journal.png");
    .hero-text {
      max-width: 1000px;
    }
  }
}

.journal {
  h4 {
    font-size: 1.8rem;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

.next-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
