.bubbles-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.5rem;
}

.keyword-bubbles {
  background-color: white;
  border: 2px solid black;
  border-radius: 100px;
  font-size: var(--step--1);
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.1rem 0.7rem;
}

.keyword-bubbles:hover {
  background-color: var(--pink);
}
