:root {
  --background: #f9f8f4;
  --foreground: #161616;
  /* Base sizes (adjust to taste) */
  --step--1: clamp(0.875rem, 0.83rem + 0.2vw, 1rem); /* small, captions */
  --step-0: clamp(1rem, 0.96rem + 0.3vw, 1.125rem); /* body */
  --step-1: clamp(1.25rem, 1.1rem + 0.8vw, 1.75rem); /* h6/h5 */
  --step-2: clamp(1.5rem, 1.2rem + 1.6vw, 2.5rem); /* h4/h3 */
  --step-3: clamp(2rem, 1.4rem + 3vw, 2.5rem); /* h2 */
  --step-4: clamp(2.5rem, 1.6rem + 4.6vw, 4rem); /* h1 / hero */
  --step-5: clamp(2.5rem, 1.6rem + 4.6vw, 3.3rem);
  --pink: #fcd5c3;
  --border: 2px solid black;
}
