.side-bar {
  padding: 1rem;
  margin-left: 3rem;
}

.journal-aside {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.side-bar-button {
  margin-top: -2rem;
}
.journal-image {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.side-bar-cta {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: var(--step-5);
  }

  h4 {
    font-size: var(--step-1);
  }
}
